.wrapper {
	width: 700px;
	height: 150px;
	background-color: #ccc;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
}

.square {
	width: 100px;
	height: 70px;
	
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.violet {
	background-color: #555fa4;
}

.red {
	background-color: #eb353a;
}